<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Mnemosyne Annotatorjs Converter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body{max-width:650px;margin:40px auto;padding:0 10px;font:18px/1.5 -apple-system,BlinkMacSystemFont,"avenir next",avenir,"Segoe UI","lucida grande","helvetica neue",helvetica,"Fira Sans",roboto,noto,"Droid Sans",cantarell,oxygen,ubuntu,"franklin gothic medium","century gothic","Liberation Sans",sans-serif;color:#444}h1,h2,h3{line-height:1.2}
        </style>
    </head>

    <body>
        <h1>Mnemosyne Annotatorjs Converter</h1>
        <p>This is a highly experimental server. It is written specifically for <a href="https://github.com/swe-ms-boun/2018fall-swe574-g1">this project</a></p>
        <blockquote>[GET]/search</blockquote>
        <blockquote>[POST]/create/$username/$path</blockquote>
        <blockquote>[POST]/annotations</blockquote>
        <blockquote>[GET]/annotations/$id</blockquote>
        <blockquote>[DELETE]/annotations/$id</blockquote>
        <blockquote>[PUT]/annotations/$id</blockquote>

        <p>For the details and the source code, please <a href="https://github.com/tugcanolgun/MnemosyneConverter">click here.</a></p>
        <p><a href="https://tugcan.net">tugcan.net</a></p>

    </body>
</html>
